sandbox
.Trash-2189


*__pycache__
**/*.kate-swp
**/*.o
include
**/dist-newstyle
vhdl_ls.toml
vhdltool-config.yaml
build_env/gui_router_seek_lite
build_env/gui_router_seek_lite/p_properties.json

.vscode/*